@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.nav-bar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 38px;
}

.logo-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.logo-container h3 {

    padding-left: 15px;
    font-size: 40px;
    font-weight: 700;
}

.logo-color {
    color: #ff42a5;
}

.nav-menu {
    width: 50%;
    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.follow-us {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding:10px 20px;

}

.follow-us:hover {
    cursor: pointer;
}

.fa-brands {
    margin: 0 12px;
} 
.nav-icon{
    font-size: 25px;
    color:red;
}
#tik i{
    color:black;
}

/* END OF NAVBAR  */

/* START BANNEER     */


.banner {
    max-width: 80%;
    margin: 0 auto;
    /* min-height: 400px; */
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-left {
    width: 50%;

}

.banner-left h2 {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-left h1 {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-left p {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 15px;
}

.i-space {
    margin-right: 7px;
}

.btn-primary {
    display: inline-flex;
    padding: 15px 30px;
    border-radius: 48px;
    background-color: #ff42a5;
    border: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
}

.btn-secondary {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 15px 30px;
    border: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
}

.banner-right {
    width: 50%;
}

.banner-right img {
    width: 100%;
    height: 100%;
}

/* WE ARE GAMER SECTION  */

.we-r-gamer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.gamer-left {
    width: 60%;
}

.gamer-left img {
    width: 100%;
    height: 100%;
}

.gamer-right {
    width: 40%;
    text-align: right;
}

.gamer-right h2 {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-right p {
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
    padding-top: 15px;
}

.purpose p {
    margin-top: 10px;
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
}

.purpose h4 {
    color: #534C64;
    font-size: 25px;
    font-weight: 700;
}

/* END OF WE R GAMER  */

.funny-videos-top {
    margin-top: 100px;
    text-align: center;
}

.funny-videos-top h2 {
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
}

.grad-funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funny-videos-top p {
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;

}

.cards {
    width: 80%;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    /* gap:20px; */
}

.single-card {
    width: 250px;
    height: 250px;
}

.single-card img {
    width: 250px;
    height: 250px;
}

.single-card p {
    margin-top: 10px;
    color: #534C64;
    font-size: 14px;
    font-weight: 500;
}

/* CARD SPECIAL EFFECT START  */
.special{
    position: relative;
    cursor: pointer;
  }
  .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    border:2px solid red;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .play-button{
      color: #fff;
      font-size: 30px;
  }
  .watch-now {
    color: red;
    font-size: 20px;
  }
  
  .special:hover .overlay {
    opacity: 1;
    border-radius:10px;
  }
  
  .special:hover .play-button,
  .special:hover .watch-now {
    display: block;
  }

/* CARD SPECIAL EFFECT END  */

/* PLAY SECTION START */

.play {

    width: 80%;
    margin: 200px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-left {
    width: 300px;
    margin: 0 auto;
    text-align: right;
}

.play-left h2 {
    font-size: 40px;
    font-weight: 700;
}

.play-instantly {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-left p {
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
}

.play-right {
    width: 40%;
}

.play-main-image {
    width: 100%;
    position: relative;
    display: block;
}

.image-offer {
    width: 200px;
    position: absolute;
    margin-top: -180px;
    margin-left: -100px;
}

/* PLAY SECTION END */

/* MULTI GAMES START  */

.multi-games {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    width:85%;
    margin:0 auto;
}

.btn-games {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    border: none;
    color: #0B0223;
    font-size: 14px;
    font-weight: 600;
    width:220px;
    height:75px;

}
.btn-games:hover {
    border: 1px solid #FF42A5;
    border-radius: 10px;
    box-sizing: border-box;
    color:#F948B2;
    cursor: pointer;
}
.btn-games p{
    padding-left: 5px;
}

/* MULTI GAMES END  */
/* FOOTER START  */
footer {
    margin-top: 100px;
    background-color: #0B0223;
    height: 400px;
    padding-top: 50px;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

footer h3 {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
}

.footer-link,
.cookie-policy {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-link a {
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
}

.social-icon {
    /* margin-top: 40px; */
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size:30px;
}

.fa-brands {
    color: white;
}
.fa-facebook{

    background-color:blue;
    border-radius: 50%;
   
}
.fa-youtube{
    color:red;
    
}

.cookie-policy a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
}

.copyright {
    margin-top:20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
}
